* {
  font-family: "Poppins", sans-serif;
}

p,
h1 {
  margin: 0;
}
body {
  margin: 0;
  background-color: #0d1117;
  color: #e6edf3;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3),
    0 4px 6px -4px rgba(0, 0, 0, 0.3);
}

.shadow-md {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.3),
    0 8px 10px -6px rgb(0 0 0 / 0.3) !important;
}

.styled-card {
  padding: 2rem;
  background-color: #161b22;
  border: 1px solid #30363d;
  border-radius: 10px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.3),
    0 8px 10px -6px rgb(0 0 0 / 0.3);
}
